<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Avanteware.RSSEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Avanteware.RSSEdit.Properties.Settings>
            <setting name="OpenPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormPropertiesLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AboutFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Avanteware.RSSEdit.Properties.Settings>
    </userSettings>
</configuration>